


.title{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

text-align: center;
margin: 100px auto;
}
body{
animation: change-color 10s infinite alternate-reverse;
}
  @keyframes change-color{
        25% {background-color:white} 
        25% {background-color:darkred;}
        25% {background-color: red;}
        25% {background-color: brown;}

    } 

  
  
    
    